#!/bin/bash

# AWS 'access_key' and 'secret_key' credentials are provided through environment variables
# usage: `source ./env.sh`
export AWS_ACCESS_KEY_ID="your_access_key_id"
export AWS_SECRET_ACCESS_KEY="your_secret_key_value"
